# Dataset Store

In [1]:
from valuation.infra.store.dataset import DatasetStore
from valuation.core.entity import Entity
from valuation.core.stage import DatasetStage
from valuation.asset.identity.dataset import DatasetID

In [2]:
store = DatasetStore()

In [3]:
dataset_id = DatasetID(name="train_val", stage=DatasetStage.MODEL)
passport = store.get_passport(dataset_id=dataset_id)
ds = store.get(passport=passport)
df = ds.data
df.head()

2025-10-23 17:47:06.458 | DEBUG    | valuation.asset.dataset.base:load:338 - Dataset Dataset train_val of the model stage created on 2025-10-23 at 12:45 loaded.

        unique_id         ds    y
0  100_analgesics 1990-01-03  0.0
1  100_analgesics 1990-01-10  0.0
2  100_analgesics 1990-01-17  0.0
3  100_analgesics 1990-01-24  0.0
4  100_analgesics 1990-01-31  0.0

In [5]:
df["year"] = df['ds'].dt.year
df['week'] = df['ds'].dt.isocalendar().week
df.groupby("year")["week"].nunique()

year
1990    52
1991    52
1992    53
1993    52
1994    52
1995    52
Name: week, dtype: int64