# Dataset Store

In [1]:
from valuation.infra.store.dataset import DatasetStore
from valuation.core.entity import Entity
from valuation.core.stage import DatasetStage
from valuation.asset.identity.dataset import DatasetID

In [2]:
store = DatasetStore()
#store.registry

In [3]:
dataset_id = DatasetID(name="sales_transform", stage=DatasetStage.TRANSFORM)
passport = store.get_passport(dataset_id=dataset_id)
ds = store.get(passport=passport)
ds.data.head()

2025-10-23 05:32:44.816 | DEBUG    | valuation.asset.dataset.base:load:337 - Dataset Dataset sales_transform of the transform stage created on 2025-10-22 at 22:06 loaded.

,store,category,week,revenue,gross_profit,year,start,end,gross_margin_pct
0,2,Analgesics,1,3021.36,853.272345,1989,1989-09-14,1989-09-20,28.241333
1,2,Analgesics,2,2531.97,710.912043,1989,1989-09-21,1989-09-27,28.077428
2,2,Analgesics,3,2544.57,755.390445,1989,1989-09-28,1989-10-04,29.686369
3,2,Analgesics,4,2407.56,696.399927,1989,1989-10-05,1989-10-11,28.925548
4,2,Analgesics,5,2077.71,548.648040,1989,1989-10-12,1989-10-18,26.406382